[user]
        name = Joshua Goodlett
        email = joshuagoodlett@gmail.com
[github]
        user = github_user_name
[color]
        status = auto
        diff = auto
        branch = auto
[alias]
[core]
    legacyheaders = false
    whitespace = fix
    #excludes = ~/.gitexcludes
    editor = subl -n -w
    #pager = 'less -FRSX'
[push]
        default = simple